html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,nav,section,audio,video,img{display:block}a{text-decoration:none;border:none;outline:0}img{border:none;outline:0}.cursor{cursor:pointer}textarea{resize:none}ul li{padding:0;list-style:none}.block{display:block}.inline{display:inline-block}.f-left{float:left}.f-right{float:right}*{outline:none!important}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
.pulse{animation-duration: 1s; animation-fill-mode: both; animation-iteration-count: infinite; animation-name: pulse;}