html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
hr,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
hgroup,
menu,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #eff4f8;
  text-align: center;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

a {
  text-decoration: none;
  border: none;
  outline: 0;
  background: none;
  font-family: 'robotoregular';
}

img {
  border: none;
  outline: 0;
  max-width: 100%;
  margin: 0 auto;
}

img.half {
  width: 60%;
}

textarea {
  resize: none;
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  line-height: normal;
}

button {
  border: none;
  cursor: pointer;
  font-family: "robotolight";
}

*:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

b,
strong {
  font-family: "robotobold";
}

::-webkit-input-placeholder {
  font-style: italic;
}

:-moz-placeholder {
  font-style: italic;
}

::-moz-placeholder {
  font-style: italic;
}

:-ms-input-placeholder {
  font-style: italic;
}

.clearfix {
  clear: both;
  height: 0;
}

.form-container {
  text-align: center;
}

.main-row {
  margin: 10% 0 0;
}

.playnew-row {
  margin: 0;
}

.logo-row {
  text-align: center;
  margin: 0;
}

.logo-row > img {
  max-width: 175px;
}

.playnew-title {
  margin: 1% 0;
  font-size: 2.75rem;
  padding: 0;
}

.login-col,
.register-col {
  margin: 20px 0;
  padding: 0;
  width: 80%;
}

.side-login-col,
.side-register-col {
  width: 10%;
}

#login-form {
  margin: 0;
  border: 1px solid #bdbdbd;
  background-color: #f7fafc;
  width: 100%;
  padding: 0 0 20px;
}

.login-form-title,
.register-form-title {
  font-size: 1.75rem;
  margin: 20px 0;
}

.search-row {
  padding: 5px 0;
  margin: 0;
}

.input-group {
  text-align: center;
  width: 84%;
  margin: 0 8%;
  padding: 0;
}

.input-label {
  text-align: left;
}

.input-bar {
  text-align: left;
  width: 100%;
  border-radius: 5px;
  margin: 0 0 7px;
}

#login-button {
  width: 100%;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/assets/button-login.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#fb-login-button {
  width: 100%;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/assets/button-fblogin.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.register-bar,
.login-bar {
  background-color: #f7fafc;
  border: 1px solid #bdbdbd;
  margin: 10px 0;
  padding: 15px 0;
  font-size: 1.2rem;
}

.download-panel {
  margin: 40px 0 0;
}

.download-panel-text {
  font-size: 1.7rem;
  font-weight: bold;
  color: #596472;
}

.google-playstore-img {
  width: 75%;
}

#register-row {
  display: none;
}

#register-form {
  margin: 0;
  border: 1px solid #bdbdbd;
  background-color: #f7fafc;
  width: 100%;
  padding: 0 0 20px;
}

.star-important {
  color: #dd2c00;
}

#register-button {
  width: 100%;
  height: 40px;
  background-color: transparent;
  background-image: url(../img/assets/button-send.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.search-input {
  text-align: center;
}

.games-search-selected {
  position: relative;
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
  margin: 25px auto;
  overflow: hidden;
  width: 86%;
  height: auto;
}

.games-search-selected-img {
  position: relative;
  width: 100%;
}

.games-search-next {
  position: relative;
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
  margin: 25px auto 0;
  overflow: hidden;
  width: 86%;
  height: 40px;
  background-image: url(../img/assets/button-next.png);
  background-size: 126%;
  background-repeat: no-repeat;
  background-position: center;
}



#player-container {
  width: 100%;
  height: 50%;
  margin: 10px auto;
  display: none;
  opacity: 0;
}

#player-container .each-player {
  float: left;
  width: 49%;
  border: 1px solid #bdbdbd;
  height: 60px;
  max-height: 60px;
  margin: 0.5% 0.5%;
  /* padding: 2%; */
  position: relative;
  text-align: center;
}

#player-container .each-player > img {
  width: 100px;
}

.clearfix {
  clear: both;
  height: 0;
}

.nextbackContainer {
  position: relative;
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
}

.nextButtonContainer {
  position: relative;
  width: 86%;
  overflow: hidden;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/assets/button-next.png");
  background-size: 126%;
  background-repeat: no-repeat;
  background-position: center;
}

.next-btn {
  width: 100%;
}

.backButtonContainer { 
  position: relative;
  width: 86%;
  overflow: hidden;
  margin: 15px 0;
  height: 45px;
  background-color: transparent;
  background-image: url(../img/assets/button-back.png);
  background-size: 192%;
  background-repeat: no-repeat;
  background-position: center;
}

.back-btn {
  width: 100%;
}

#stopwatch-container {
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
  margin: 25px 0 0;
}

#stopwatch-display {
  font-size: 35px;
}

#game-container {
  position: relative;
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
  margin: 25px 0 0;
}

#game-container > img {
  max-width: 450px;
}

.game-selected-details {
  position: relative;
  border: solid 1px #bdbdbd;
  width: 86%;
  height: auto;
  margin: 0 auto;
  background-color: #f7fafc
}

.game-selected-photo {
  position: relative;
  width: 30%;
  height: 0;
  padding: 0 0 30%;
  overflow: hidden;
  margin: 5% 0 5% 2%;
}

.game-selected-photo-src {
  width: 100%;
}

.game-selected-info {
  margin: 2% 0 0;
  padding: 0 5px;
}

.game-selected-name {
  padding: 0;
  text-align: left;
  font-size: 1.35rem;
  color: #596472;
  font-weight: bold;
}

.game-selected-released {
  padding: 0;
  text-align: left;
  color: #30a2ef;
  font-size: 1.3rem;
}

.game-selected-designer {
  font-size: 1.1rem;
}

.game-info-details {
  padding: 0;
  text-align: left;
  font-size: 1.15rem;
}

.game-info-header {
  font-weight: bold;
  font-size: 1.15rem;
}

.game-selected-artist {
  font-size: 1.1rem;
}

.game-selected-genre {
  font-size: 1.1rem;
}

.game-selected-played {
  font-size: 1.1rem;
}

.game-selected-rating {
  position: absolute;
  top: 0;
  right: 0;
}

.star-rating {
  font-size: 1.2rem;
}

.rating-5 {
  color: #2962ff;
}

.rating-4 {
  color: #00bfa5;
}

.rating-3 {
  color: #64dd17;
}

.rating-2 {
  color: #ffab00;
}

.rating-1 {
  color: #dd2c00;
}

#stopwatch-display {
  text-align: center;
  width: 86%;
  margin: 0 auto;
  background-color: #fafafa;
  height: 60px;
  padding: 0;
  position: relative;
  border: 1px solid #bdbdbd;
}
#stopwatch-counter{
  line-height: 60px;
  font-size: 3.5rem;
  color: #596472;
}
#control-panel {
  display: block;
  text-align: center;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 1;
}
.control-panel-timezero{
  width: 86%;
  margin: 10px auto;
  height: 45px;
  background-color: transparent;
  display: block;
  opacity: 1;
}
.control-panel-timeticking{
  display: none;
  width: 86%;
  margin: 10px auto;
  height: 45px;
  background-color: transparent;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
}
.control-panel-timefinish{
  position: relative;
  display: none;
  width: 86%;
  margin: 10px auto;
  height: 45px;
  background-color: transparent;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
}
.timefinish-header{
  font-size: 1.5rem;
    text-align: left;
    width: 100%;
    font-weight: bold;
}
.row-panel-timeticking{
  height: 100%;
  margin: 0;
}
#start{
  width: 100%;
  height: 100%;
  background-image: url(../img/assets/button-startgame-b.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
}
#pause{
  height: 100%;
  background-image: url(../img/assets/button-pause.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  width: 27%
}
#finish{
  height: 100%;
  background-image: url(../img/assets/button-endsession.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
  width: 71%;
}
#submit{
  width: 100%;
  height: 100%;
  background-image: url(../img/assets/button-submit.png);
  background-size: 185% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 0;
}
.player-search {
  position: relative;
  display: none;
  -webkit-transition: all .375s ease;
  -o-transition: all .375s ease;
  -moz-transition: all .375s ease;
  transition: all .375s ease;
  opacity: 0;
  margin: 15px 0 0;
}

.each-player {
  margin: 0;
}

.each-player .winner-overlay {
  display: none;
}

.each-player:hover .winner-overlay {
  position: absolute;
  top: 0;
  background: url("../img/assets/tick-green.png");
  left: 0;
  opacity: 0.8;
  display: block;
  height: 100%;
  width: 90%;
  background-size: 92%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5%;
}

.each-player-photo-container {
  width: 40%;
  padding: 0 0 0 3px;
  line-height: 55px;
}

.each-player-photo {
  width: 100%;
}
.each-player-detail-container {
  position: relative;
  padding: 0;
  width: 56%;
  height: 100%;
}

.each-player-detail-name {
  padding: 0 3px;
  font-size: 1.1rem;
  text-align: left;
}

.each-player-detail-level {
  padding: 0 3px;
  font-size: 1rem;
  text-align: left;
  color: #30a2ef;
}

.each-player-detail-joindate {
  position: absolute;
  /* margin: 5% 0 0; */
  padding: 0 3px;
  /* text-align: left; */
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  font-style: italic;
  color: #596472;
}
.each-player-detail-delete{
  position: absolute;
  top: 0;
  right:1px;
  width: 20px;
  height: 20px;
  display: block;
}
.each-player-detail-delete img{
  width: 100%;
}
.winner {
  position: absolute;
  top: 0;
  background: url("../img/assets/tick-green.png");
  left: 0;
  opacity: 0.8;
  display: block;
  height: 100%;
  width: 90%;
  background-size: 92%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 5%;
}

.alert-col{
    padding-top: 10px;
    font-size: 1.5rem;
}

button {
  padding: 5px 20px;
  border: none;
}

@media (max-width: 320px) {
  .playnew-title {
    margin: 1% 0;
    font-size: 2.5rem;
    padding: 0;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 12px;
    height: 12px;
    display: block;
  }
}

@media(min-width: 321px) and (max-width: 424px) {
  .each-player-photo-container {
    width: 32%;
    padding: 0 0 0 3px;
    line-height: 55px;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: -18px;
    width: 15px;
    height: 15px;
    display: block;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 57%;
    height: 100%;
  }
}

@media(min-width: 425px) and (max-width: 767px) {
  #player-container .each-player {
    float: left;
    width: 49%;
    border: 1px solid #bdbdbd;
    height: 90px;
    max-height: 90px;
    margin: 0.5% 0.5%;
    /* padding: 2%; */
    position: relative;
    text-align: center;
  }
  .game-selected-details {
    position: relative;
    border: solid 1px #bdbdbd;
    width: 65%;
    height: auto;
    margin: 0 auto;
    background-color: #f7fafc;
  }
  .game-selected-photo {
    position: relative;
    width: 30%;
    height: 0;
    padding: 0 0 30%;
    overflow: hidden;
    margin: 2% 0 2% 2%;
  }
  .each-player-photo-container {
    width: 25%;
    padding: 0 0 0 3px;
    line-height: 83px;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: -30px;
    width: 15px;
    height: 15px;
    display: block;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 65%;
    height: 100%;
  }
  #stopwatch-display {
    text-align: center;
    width: 65%;
    margin: 0 auto;
    background-color: #fafafa;
    height: 60px;
    padding: 0;
    position: relative;
  }
  #stopwatch-counter{
    line-height: 30px;
    font-size: 2.5rem;
  }
  .control-panel-timezero{
    width: 68%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timeticking{
    width: 68%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timefinish{
    position: relative;
    width: 68%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .games-search-next {
    width: 65%;
    height: 50px;
  }
  .nextButtonContainer {
    width: 65%;
    background-size: 130%
  }
  .backButtonContainer { 
    width: 65%;
    background-size: 186%
  }
  .games-search-selected {
    width: 65%;
  }
  .each-player-detail-name {
    padding: 0 3px;
    font-size: 1.5rem;
    text-align: left;
  }
  .each-player-detail-level {
    font-size: 1.25rem;
  }
  .each-player-detail-joindate {
    font-size: 1.1rem;
  }
}
@media (min-width: 425px) and (max-width: 550px) {
  #player-container .each-player{
    height: 75px;
    max-height: 75px;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: -15px;
    width: 15px;
    height: 15px;
    display: block;
  }
  .each-player-photo-container {
    width: 27.5%;
    padding: 0 0 0 3px;
    line-height: 70px;
}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .login-col,
  .register-col {
    margin: 20px 0;
    padding: 0;
    width: 35%;
  }
  .side-login-col,
  .side-register-col {
    width: 32.5%;
  }
  .game-selected-photo {
    position: relative;
    width: 30%;
    height: 0;
    padding: 0 0 30%;
    overflow: hidden;
    margin: 2% 0 2% 2%;
  }
  .game-selected-details {
    position: relative;
    border: solid 1px #bdbdbd;
    width: 45%;
    height: auto;
    margin: 0 auto;
    background-color: #f7fafc
  }
  
  .game-selected-name {
    padding: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #596472;
    font-weight: bold;
  }
  .games-search-selected {
    position: relative;
    display: none;
    -webkit-transition: all .375s ease;
    -o-transition: all .375s ease;
    -moz-transition: all .375s ease;
    transition: all .375s ease;
    opacity: 0;
    margin: 25px auto;
    overflow: hidden;
    width: 45%;
    height: auto;
  }
  .game-selected-released {
    padding: 0;
    text-align: left;
    color: #30a2ef;
    font-size: 1.25rem;
  }
  .game-info-header {
    font-weight: bold;
  }
  .game-selected-artist {
    font-size: 1.25rem;
  }
  .game-selected-genre {
    font-size: 1.25rem;
  }
  .game-selected-played {
    font-size: 1.25rem;
  }
  .game-selected-rating {
    position: absolute;
    top: 0;
    right: 0;
  }
  #player-container .each-player {
    float: left;
    width: 32%;
    border: 1px solid #bdbdbd;
    height: 90px;
    max-height: 90px;
    margin: 0.5% 0.5%;
    /* padding: 2%; */
    position: relative;
    text-align: center;
  }
  .each-player-photo-container {
    width: 30%;
    padding: 0 0 0 3px;
    line-height: 86px;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 63%;
    height: 100%;
  }
  .each-player-detail-name {
    padding: 0 3px;
    font-size: 1.5rem;
    text-align: left;
  }
  .each-player-detail-level {
    padding: 0 3px;
    font-size: 1.35rem;
    text-align: left;
    color: #30a2ef;
  }
  .each-player-detail-joindate {
    position: absolute;
    /* margin: 5% 0 0; */
    padding: 0 3px;
    /* text-align: left; */
    font-size: 1.1rem;
    bottom: 0;
    left: 0;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: -15px;
    width: 15px;
    height: 15px;
    display: block;
  }
  #stopwatch-display {
    text-align: center;
    width: 45%;
    margin: 0 auto;
    background-color: #fafafa;
    height: 60px;
    padding: 0;
    position: relative;
    border: 1px solid #bdbdbd;
  }
  .control-panel-timezero{
    width: 48%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timeticking{
    width: 48%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timefinish{
    position: relative;
    width: 48%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .games-search-next {
    width: 45%;
    height: 50px;
  }
  .nextButtonContainer {
    width: 45%;
  }
  .backButtonContainer { 
    width: 45%;
    background-size: 150%;
  }
  #pause{
    background-size: 100% 125%;
  }
  #finish{
    background-size: 100% 140%;
  }
  #submit {
    background-size: 185% 100%;
  }
}
@media (min-width: 949px) and (max-width: 1023px){
  .each-player-photo-container {
    width: 28%;
    padding: 0 0 0 3px;
    line-height: 85px;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 72%;
    height: 100%;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: 2px;
    width: 15px;
    height: 15px;
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .login-col,
  .register-col {
    margin: 20px 0;
    padding: 0;
    width: 30%;
  }
  .side-login-col,
  .side-register-col {
    width: 35%;
  }
  .game-selected-details {
    position: relative;
    border: solid 1px #bdbdbd;
    width: 50%;
    height: auto;
    margin: 0 auto;
    background-color: #f7fafc
  }
  .game-selected-photo {
    position: relative;
    width: 30%;
    height: 0;
    padding: 0 0 30%;
    overflow: hidden;
    margin: 3% 0 3% 2%;
  }
  
  .game-selected-name {
    padding: 0;
    text-align: left;
    font-size: 1.5rem;
    color: #596472;
    font-weight: bold;
  }
  .games-search-selected {
    position: relative;
    display: none;
    -webkit-transition: all .375s ease;
    -o-transition: all .375s ease;
    -moz-transition: all .375s ease;
    transition: all .375s ease;
    opacity: 0;
    margin: 25px auto;
    overflow: hidden;
    width: 45%;
    height: auto;
  }
  #player-container .each-player {
    float: left;
    width: 24%;
    border: 1px solid #bdbdbd;
    height: 75px;
    max-height: 75px;
    margin: 0.5% 0.5%;
    /* padding: 2%; */
    position: relative;
    text-align: center;
  }
  .each-player-photo-container {
    width: 40%;
    padding: 0 0 0 3px;
    line-height: 72px;
  }
  .each-player-detail-name {
    padding: 0 3px;
    font-size: 1.175rem;
    text-align: left;
  }
  .each-player-detail-level {
    padding: 0 3px;
    font-size: 1.1rem;
    text-align: left;
    color: #30a2ef;
  }
  .each-player-detail-joindate {
    position: absolute;
    /* margin: 5% 0 0; */
    padding: 0 3px;
    /* text-align: left; */
    font-size: 1rem;
    bottom: 0;
    left: 0;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 51%;
    height: 100%;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -3px;
    right: -6px;
    width: 13px;
    height: 13px;
    display: block;
  }
  .games-search-next {
    width: 45%;
  }
  .nextButtonContainer {
    width: 50%;
    background-size: 100%;
  }
  .backButtonContainer { 
    width: 50%;
    background-size: 154%;
  }
}
@media (min-width: 1025px) and (max-width: 1199px){
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: -13px;
    width: 15px;
    height: 15px;
    display: block;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  .games-search-selected {
    position: relative;
    display: none;
    -webkit-transition: all .375s ease;
    -o-transition: all .375s ease;
    -moz-transition: all .375s ease;
    transition: all .375s ease;
    opacity: 0;
    margin: 25px auto;
    overflow: hidden;
    width: 85%;
    height: auto;
  }
  
  .each-player-photo-container {
    width: 28%;
    padding: 0 0 0 3px;
    line-height: 55px;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 72%;
    height: 100%;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -2px;
    right: 2px;
    width: 15px;
    height: 15px;
    display: block;
  }
  .games-search-next {
    width: 85%;
    height: 50px;
  }
  .nextButtonContainer {
    width: 50%;
    background-size: 100%;
  }
  .backButtonContainer { 
    width: 50%;
    background-size: 150%;
  }
}
@media only screen and (min-width: 1440px) {
  .login-col,
  .register-col {
    margin: 20px 0;
    padding: 0;
    width: 35%;
  }
  .side-login-col,
  .side-register-col {
    width: 32.5%;
  }
  .game-selected-details {
    position: relative;
    border: solid 1px #bdbdbd;
    width: 45%;
    height: auto;
    margin: 0 auto;
    background-color: #f7fafc
  }
  .games-search-selected {
    position: relative;
    display: none;
    -webkit-transition: all .375s ease;
    -o-transition: all .375s ease;
    -moz-transition: all .375s ease;
    transition: all .375s ease;
    opacity: 0;
    margin: 25px auto;
    overflow: hidden;
    width: 75%;
    height: auto;
  }
  
  #player-container .each-player {
    float: left;
    width: 24%;
    border: 1px solid #bdbdbd;
    height: 84px;
    max-height: 84px;
    margin: 0.5% 0.5%;
    /* padding: 2%; */
    position: relative;
    text-align: center;
  }
  .each-player-photo-container {
    width: 27%;
    padding: 0 0 0 3px;
    line-height: 80px;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 73%;
    height: 100%;
  }
  .each-player-detail-name {
    padding: 0 3px;
    font-size: 1.35rem;
    text-align: left;
  }
  .each-player-detail-level {
    padding: 0 3px;
    font-size: 1.25rem;
    text-align: left;
    color: #30a2ef;
  }
  .each-player-detail-joindate {
    position: absolute;
    /* margin: 5% 0 0; */
    padding: 0 3px;
    /* text-align: left; */
    font-size: 1.15rem;
    bottom: 0;
    left: 0;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -3px;
    right: 2px;
    width: 16px;
    height: 16px;
    display: block;
  }
  .nextButtonContainer {
    width: 45%;
  }
  .backButtonContainer { 
    width: 45%;
    background-size: 140%;
  }
  .control-panel-timezero{
    width: 47%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timeticking{
    width: 47%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timefinish{
    position: relative;
    width: 47%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .games-search-next {
    width: 75%;
    height: 60px;
  }
  #pause{
    background-size: 100% ;
  }
  #finish{
    background-size: 100% ;
  }
  #submit {
    background-size: 115% 100%;
  }
}
@media (min-width: 1500px)  and (max-width: 1919px) {

}
@media only screen and (min-width: 1920px) {
  .game-selected-details {
    position: relative;
    border: solid 1px #bdbdbd;
    width: 35%;
    height: auto;
    margin: 0 auto;
    background-color: #f7fafc;
  }
  .games-search-selected {
    position: relative;
    display: none;
    -webkit-transition: all .375s ease;
    -o-transition: all .375s ease;
    -moz-transition: all .375s ease;
    transition: all .375s ease;
    opacity: 0;
    margin: 25px auto;
    overflow: hidden;
    width: 60%;
    height: auto;
  }
  
  .each-player-photo-container {
    width: 26%;
    padding: 0 0 0 3px;
    line-height: 80px;
  }
  .each-player-detail-container {
    position: relative;
    padding: 0;
    width: 74%;
    height: 100%;
  }
  .nextButtonContainer {
    width: 35%;
  }
  .backButtonContainer { 
    width: 35%;
    background-size: 140%;
  }
  .each-player-detail-delete {
    position: absolute;
    top: -1px;
    right: 2px;
    width: 20px;
    height: 20px;
    display: block;
  }
  .control-panel-timezero{
    width: 46%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timeticking{
    width: 46%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .control-panel-timefinish{
    position: relative;
    width: 46%;
    margin: 10px auto;
    height: 45px;
    background-color: transparent;
  }
  .games-search-next {
    width: 60%;
    height: 50px;
  }
  #pause{
    background-size: 100% ;
  }
  #finish{
    background-size: 100% ;
  }
  #submit {
    background-size: 100% 100%;
  }
}
