*{ 
	font-family:"trebuchet MS",verdana ;
	font-size: 16px;
}
ul{ 
	list-style::none;margin:0pt;padding:0pt;
}
h1{
	margin-bottom: 0;
	font-size: 1.17em;
}
p{
	margin-top: 0;
}
.boardion-title-bar{
	position: relative;
	font-size: 18px;
	color: #1d1d26;
	text-align: center;
	padding-top: 3%;
	background-color: #30a2ef;
	padding-bottom: 3%;
}
.boardion-logout{
	position: absolute;
	bottom: 0;
	right: 5px;
	text-decoration: underline;
}
.boardion-logout > a, .boardion-logout > a:visited, .boardion-logout > a:hover, .boardion-logout > a:active{
	color: #fafafa;
}
.boardion-title-bar img{
	width: 50px;
	height: 50px;
}
.container{
/*width:700px;
margin:100px auto;*/
}
.searchInput
{
	width:86%;
	border:solid 1px #dedede;
	padding:3px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #efefef #DEDEDE #DEDEDE;
	background-color: white;
}
.searchPlayerHeader{
	text-align: left;
	width: 86%;
	margin: 0 auto;
}
.searchPlayer{
	width:86%;
	border:solid 1px #dedede;
	padding:3px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	border-width: 1px 1px 0px;
	border-style: solid;
	border-color: #efefef #DEDEDE #DEDEDE;
	background-color: white;
}
.divResult
{
	position: relative;
	width: 86%;
	margin: 0 auto;
	display: none;
	z-index: 1;
	margin-top: -1px;
	border: solid 1px #dedede;
	border-top: 0px;
	overflow: hidden;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #eeeeee #DEDEDE #DEDEDE;
	background-color: white;
}
.divResult ul li{
	position: relative;
	padding:4px; border-top:solid 1px #dedede; 
	height:auto;
}
.divResult ul li:hover{
	cursor: pointer;
}
.divResult ul li.selected{
	position: relative;
	background:#1BA1E2;
	color:#FFFFFF;
	cursor:pointer;
}
.divResult div.search-footer{
	height: 15px;
	text-align: center;
	padding: 5px 0 23px 0;
	background-color:#e2e2e2; 
}
.divResult ul li img.profile_image{
	width:40px; height:40px; float:left; margin-right:6px;
}
.divPlayerResult
{
	position: relative;
	width: 86%;
	margin: 0 auto;
	display: none;
	z-index: 1;
	margin-top: -1px;
	border: solid 1px #dedede;
	border-top: 0px;
	overflow: hidden;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
	border-width: 0px 1px 1px;
	border-style: solid;
	border-color: #eeeeee #DEDEDE #DEDEDE;
	background-color: white;
}
.divPlayerResult ul li{
	position: relative;
	padding:4px; border-top:solid 1px #dedede; 
	height:auto;
}
.divPlayerResult ul li:hover{
	cursor: pointer;
}
.divPlayerResult ul li.selected{
	position: relative;
	background:#1BA1E2;
	color:#FFFFFF;
	cursor:pointer;
}
.divPlayerResult div.search-footer{
	height: 15px;
	text-align: center;
	padding: 5px 0 23px 0;
	background-color:#e2e2e2; 
}
.divPlayerResult ul li img.profile_image{
	width:40px; height:40px; float:left; margin-right:6px;
}
.games-main-col{

}
.games-main-title{
	width: 86%;
	text-align: left;
	margin: 0 auto;
	/*margin: 0 0 0 13%;*/
}
.games-main-input{

}
@media (max-width: 767px) and (min-width: 425px){
	.searchInput
	{
		width:65%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader{
		text-align: left;
		width: 65%;
		margin: 0 auto;
	}
	.searchPlayer{
		width:65%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.games-main-title{
		width: 65%;
		text-align: left;
		margin: 0 auto;
		/*margin: 0 0 0 13%;*/
	}
	.divResult
	{
		position: relative;
		width: 65%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader {
		text-align: left;
		width: 65%;
		margin: 0 auto;
	}
	.searchPlayer {
		width: 65%;
	}
	.divPlayerResult{
		width: 65%;
	}
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.boardion-title-bar{
		position: relative;
		font-size: 18px;
		color: #1d1d26;
		text-align: center;
		padding-top: 0.5%;
		background-color: #30a2ef;
		padding-bottom: 0.5%;
	}

	.divResult ul li{
		position: relative;
		padding:4px; border-top:solid 1px #dedede; 
		height:70px;
	}

	.divResult ul li img.profile_image{
		width:60px; height:60px; float:left; margin-right:6px;
	}

	.searchInput
	{
		width:45%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader{
		text-align: left;
		width: 45%;
		margin: 0 auto;
	}
	.searchPlayer{
		width:45%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.games-main-title{
		width: 45%;
		text-align: left;
		margin: 0 auto;
		/*margin: 0 0 0 13%;*/
	}
	.divResult
	{
		position: relative;
		width: 45%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
	.divPlayerResult
	{
		position: relative;
		width: 45%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
}
@media only screen and (min-width: 1024px) {
	.searchInput
	{
		width:45%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader{
		text-align: left;
		width: 50%;
		margin: 0 auto;
	}
	.searchPlayer{
		width:50%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.games-main-title{
		width: 45%;
		text-align: left;
		margin: 0 auto;
		/*margin: 0 0 0 13%;*/
	}
	.divResult {
		position: relative;
		width: 45%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
	.divPlayerResult
	{
		position: relative;
		width: 50%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
}
@media (min-width: 1200px) and (max-width: 1439px) {
	.games-main-title {
		width: 85%;
		text-align: left;
		margin: 0 auto;
		/* margin: 0 0 0 13%; */
	}
	.searchInput {
		width: 85%;
		border: solid 1px #dedede;
		padding: 3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.divResult {
		position: relative;
		width: 85%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
}
@media only screen and (min-width: 1440px) {
	.searchInput
	{
		width:75%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader{
		text-align: left;
		width: 45%;
		margin: 0 auto;
	}
	.searchPlayer{
		width:45%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.games-main-title{
		width: 75%;
		text-align: left;
		margin: 0 auto;
		/*margin: 0 0 0 13%;*/
	}
	.divResult
	{
		position: relative;
		width: 75%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
	.divPlayerResult
	{
		position: relative;
		width: 45%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}	
}
@media only screen and (min-width: 1920px) {
	.searchInput
	{
		width:60%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.searchPlayerHeader{
		text-align: left;
		width: 35%;
		margin: 0 auto;
	}
	.searchPlayer{
		width:35%;
		border:solid 1px #dedede;
		padding:3px;
		border-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 1px 1px 0px;
		border-style: solid;
		border-color: #efefef #DEDEDE #DEDEDE;
		background-color: white;
	}
	.games-main-title{
		width: 60%;
		text-align: left;
		margin: 0 auto;
		/*margin: 0 0 0 13%;*/
	}
	.divResult
	{
		position: relative;
		width: 60%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
	.divPlayerResult
	{
		position: relative;
		width: 35%;
		margin: 0 auto;
		display: none;
		z-index: 1;
		margin-top: -1px;
		border: solid 1px #dedede;
		border-top: 0px;
		overflow: hidden;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-bottom-right-radius: 6px;
		-moz-border-bottom-left-radius: 6px;
		-webkit-box-shadow: 0px 0px 5px #999;
		box-shadow: 0px 0px 5px #999;
		border-width: 0px 1px 1px;
		border-style: solid;
		border-color: #eeeeee #DEDEDE #DEDEDE;
		background-color: white;
	}
}