/*COLOR*/
	/*
	RED			#E21837
	WHITE 		#FFFFFF
	BLACK 		#2C2E3D
	GREY		#E8E8E8
	*/
	
/*FONT*/
@font-face {
	font-family: 'Conv_DINOT-Regular';
	src: url('fonts/DINOT-Regular.eot');
	src: local('☺'), url('fonts/DINOT-Regular.woff') format('woff'), url('fonts/DINOT-Regular.ttf') format('truetype'), url('fonts/DINOT-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_DINOT-Bold'; 
	src: url('fonts/DINOT-Bold.eot');
	src: local('☺'), url('fonts/DINOT-Bold.woff') format('woff'), url('fonts/DINOT-Bold.ttf') format('truetype'), url('fonts/DINOT-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

._w{color: #ffffff;}
._b{color: #343434;}
._r{color: #D53939;}
._bl{color: #33425B;}
	
.f-reg{font-family: 'Conv_DINOT-Regular';}
.f-bold{font-family: 'Conv_DINOT-Bold';}

.s-10{font-size: 10px; line-height: 20px;}
.s-12{font-size: 12px; line-height: 22px;}
.s-14{font-size: 14px; line-height: 24px;}
.s-16{font-size: 16px; line-height: 26px;}
.s-18{font-size: 18px; line-height: 28px;}
.s-24{font-size: 24px; line-height: 34px;}
.s-36{font-size: 36px; line-height: 46px;}
.s-48{font-size: 48px; line-height: 58px;}

	
/*	Resets
	------	*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;		
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video, img {
	display: block;
}
bu
h1, h2, h3, h4, h5, h6{font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; line-height: inherit;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0); outline:none;}
a {text-decoration:none; border:none; outline:0;}
img{border:none; outline:0; max-width: 100%;}
.cursor{cursor:pointer;}
textarea {resize: none;}
ul li{padding:0; list-style:none;}
.is-block{display:block;}
.is-inline{display:inline-block;}
.f-left{float:left;}
.f-right{float:right;}
.is-left{text-align: left;}
.is-right{text-align: right;}
.is-center{text-align: center;}
.hidden{visibility:hidden; width:0px !important; height:0px !important; margin:0px !important; padding:0px !important;}

.m-no{display:block;}
.m-yes{display:none;}
	
.clear{clear:both; height:0;}	
	
/*SPACE*/
.space-0{margin-top:5px;}
.space-1{margin-top:10px;}
.space-2{margin-top:20px;}
.space-3{margin-top:30px;}
.space-4{margin-top:30px;}
.space-5{margin-top:50px;}
.space-6{margin-top:60px;}
.space-7{margin-top:70px;}
.space-8{margin-top:80px;}


/*TEXTFIELD*/
input {outline: none;}
input[type="text"], input[type="password"], input[type="date"], textarea{font-family: 'muliregular';}
input:required, textarea:required  {box-shadow: none}
::-webkit-input-placeholder{color:#a4b4b5;}
:-ms-input-placeholder{color:#a4b4b5;}
::-moz-placeholder{color:#a4b4b5; opacity: 1;}
:-moz-placeholde {color:#a4b4b5; opacity: 1;}
input[type="date"]{background: url(../img/icon-calendar.png) no-repeat right; background-size: 18px 16px;}

#searchwrap {position: relative; display: inline-block; float: right;}
input[type="text"] {
  height: 22px; font-family: 'Conv_DINOT-Regular'; font-size: 14px;
  display: inline-block; border: none; color: #2C2E3D;
  padding: 3px; padding-right: 30px; padding-left: 20px;
  width: 0px; position: absolute; top: 0; right: 0;
  background: none; z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer; margin-top: 5px;
}

input[type="text"]:focus {width: 280px; z-index: 1; cursor: text; background: #fff; border-radius: 24px; margin-right: 40px;}
input[type="submit"] {height: 20px; width: 20px; padding: 18px; border: none; display: inline-block; float: right; background:#E11936 url(../img/icon-search-w.png) no-repeat right center; background-size: 20px; text-indent: -10000px; position: absolute; top: 0; right: 0; z-index: 2; cursor: pointer; transition: opacity .4s ease;
}

/*SELECT*/
.map-select {
   background-color: #ffffff; 
   height: 35px;
   overflow: hidden;
   width: 217px;
   position:relative;
   border:solid 2px #1d1d1b;
   display:inline-block;
   vertical-align:middle;
   text-align:left;   
}
.map-select select {
   color: #1d1d1b;
   background: transparent;  
   border:none;
   font-size: 13px;
   height: 35px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 237px;
   z-index:10;
   position:absolute;
   padding-left:10px;    
   outline:none;   
   cursor:pointer;
}
.map-select select option{border:none; padding-left:12px;}
.map-select select:focus {outline: none;}
.btn-selectmap{background: url(../img/icon-arrow-down-black.png) no-repeat 0 0; background-size: 14px 8px; width: 14px; height: 8px; position:absolute; right:15px; top:12px; z-index:8;}

.boxarea{
	width: 315px;
	height: 78px;
	background:none;
	border: none;
	color: #ffffff;
	font-size:12px;
	padding:5px 0 0 8px;
}
#fieldarea{width:320px;	height:89px; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; background-color: #61380e; margin:6px 0 12px 0;}

/*CHECKBOX*/
.logregcheck{width: 100%; vertical-align:middle; color: #323232; font-size:10px; padding-top:15px;}
.logregcheck input[type="checkbox"] {display:none;}
.logregcheck input[type="checkbox"] + label span {
	display:inline-block;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background: url(../img/checkbox-1.png) no-repeat 0 0;
	background-size: 12px 20px;
	width: 20px;
	height: 20px;
	cursor:pointer;
	padding-left: 5px;
	padding-top:6px;
}
.logregcheck input[type="checkbox"]:checked + label span {
	background-position: -30px 0;
}
/*
<div class="logregcheck">
	<input type="checkbox" id="check01" name="checkbox" />
	<label for="check01"><span></span>Biarkan tetap masuk</label>
</div>
*/

/*radio*/
input[type="radio"] {display:none;}
input[type="radio"] + label {color: #323232; font-size:15px;}
input[type="radio"] + label span {
    display:inline-block;   
	width:28px; height:28px;
    margin:0 10px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {background-color:#f0f0ef;}
input[type="radio"]:checked + label span{background-color:#243772;}
input[type="radio"] + label span, input[type="radio"]:checked + label span {
  -webkit-transition:background-color 0.4s linear;
  -o-transition:background-color 0.4s linear;
  -moz-transition:background-color 0.4s linear;
  transition:background-color 0.4s linear;
}
/*
<input type="radio" id="radio01" name="radio" value="laki-laki" required/>
<label for="radio01"><span></span>Laki-laki</label>
*/

body {
	width: 100%;
	margin:0 auto;
	-webkit-text-size-adjust: 100%;
	overflow-x:hidden;
	background:#ffffff;
	font-family: 'Conv_DINOT-Regular';
	color: #2C2E3D;
}

/*button*/
.fade-link, .btn-grad-1, .btn-grad-2, .menu li, .home-healthcare .col-3 li, .red-link, .icon-sosmed, .ls-nav-prev, .ls-nav-next, .footer-menu li, .header *, #buynow-content img, .icon-map{transition: all .4s; -moz-transition: all .4s; -webkit-transition: all .4s; -o-transition: all .4s;}
.red-link a{font-family: 'Conv_DINOT-Bold'; font-size: 18px; color: #E21837; border-bottom: solid 2px transparent;}
	.red-link a:hover{border-color: #E21837;}
.btn-main{display: inline-block; padding: 12px 20px; font-family: 'Conv_HELR65W'; font-size: 24px; border-radius: 12px; border: solid 2px #b0dedb; color: #33425b; cursor: pointer; background: transparent;}
	.btn-main:hover{background: #b0dedb; border: solid 2px #b0dedb;}
	.btn-main.active{background: #d53939; border: solid 2px #d53939; color: #fff;}

.btn-grad-1, .btn-grad-2{display: inline-block; vertical-align: middle; font-family: 'Conv_DINOT-Bold'; font-size: 14px; text-align: center; background-image: linear-gradient(-90deg, #D2D2D2, #E5E5E5, #FFFFFF, #E2E2E2, #CACACA); width: 180px; height: 35px; padding-top: 10px; border-radius: 24px;}
a.btn-grad-1, a.btn-grad-2{color: #1A1A1E;}
.btn-grad-1:hover, .btn-grad-2:hover{transform: scale(1.1);}
.btn-grad-2{height: 38px; padding-top: 8px;}

.btn-learn-more{display: inline-block; vertical-align: middle; width: 137px; height: 184px; background: url(../img/icon-water.png) no-repeat top center; font-family: 'Conv_DINOT-Bold'; font-size: 18px; padding-top: 100px; transform: scale(.1);}
a .btn-learn-more{color: inherit; color: #E21837;}

/*icon*/
.icon-share{background: url(../img/home/btn-share.png) no-repeat; width: 133px; height: 146px; transform: scale(.8);}
.icon-share:hover{transform: scale(1);}

.icon-sosmed{display: inline-block; background: url(../img/icon/sosmed.png) no-repeat; width: 57px; height: 56px; margin-right: 20px; transform: scale(.9)}
.icon-sosmed.fb{background-position: 0 0;}
.icon-sosmed.ig{background-position: -63px 0;}
.icon-sosmed.tw{background-position: -127px 0;}
.icon-sosmed.yt{background-position: -190px 0;}
.icon-sosmed:hover{transform: scale(1)}

.icon-balloon{display: block; width: 36px; height: 39px; background: url(../img/icon-balloon.png) no-repeat top center; background-size: 36px 39px; margin: 0 auto;}

.icon-arrow-down{display: block; width: 11px; height: 7px; background: url(../img/icon-arrow-down.png) no-repeat center; background-size: 11px 7px;}

.icon-sosmed{display: inline-block; background: url(../img/icon-sosmed.png) no-repeat; background-size: 140px 20px; width: 20px; height: 20px;}
.icon-sosmed._1{background-position: 0 0;}
.icon-sosmed._2{background-position: -40px 0;}
.icon-sosmed._3{background-position: -80px 0;}
.icon-sosmed._4{background-position: -120px 0;}

.icon-map{display: block; width: 24px; height: 24px; background: url(../img/icon-map.png) no-repeat center; background-size: 24px;}
.icon-map:hover{transform: scale(1.5);}

.flag-indonesia{display: inline-block; vertical-align: middle; width: 24px; height: 24px; background: url(../img/flag-indonesia.png) no-repeat right; background-size: 24px; border-left: solid 2px #000; padding-left: 18px;}
.icon-shop, .icon-search{display: inline-block; vertical-align: middle; background: url(../img/icon-header-right.png) no-repeat; background-size: 20px 52px; width: 20px; height: 20px; margin-right: 12px;}
	.icon-shop{background-position: 0 -32px;}
	.icon-search{background-position: 0 0; cursor: pointer;}

.icon-point{display: block; width: 21px; height: 21px; background: url(../img/icon-point.png) no-repeat center; background-size: 21px;
	-webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both;
 	animation-iteration-count: infinite;
	animation-name: pulsing;
}

.logo-group{float: left; background: url(../img/logo-sangobion-group.png) no-repeat; background-size: 418px 16px; height: 14px; margin-right: 20px;}
.logo-group.sangobion-fit{width: 83px; background-position: 0 0;}
.logo-group.vitatonik{width: 64px; background-position: -91px 0;}
.logo-group.femine-menstrupain{width: 108px; background-position: -165px 0;}
.logo-group.baby-kids{width: 58px; background-position: -281px 0;}
.logo-group.pro-immune{width: 70px; background-position: -348px 0;}

/*column*/
.col-2-1, .col-2-2, .col-2-1.reverse, .col-2-2.reverse{position: relative; width: 45%;}
	.col-2-1{float: left;}
	.col-2-2{float: right;}
	.col-2-1.reverse, .col-2-2.reverse{float: right;}
	.col-2-2.reverse{margin-right: 10%;}
.col-3-1, .col-3-2{float: left;}
	.col-3-1{width: 30%; margin-right: 3.3%;}
	.col-3-2{width: 66.6%;}
	.col-3-1.reverse, .col-3-2.reverse{float: right;}
	.col-3-1.reverse{margin-right: 0%;}
	.col-3-2.reverse{margin-left: 3.3%;}
.col-2 li{position: relative; display: inline-block; width: 42%; margin: 0 1%; text-align: right; vertical-align: top;}
.col-3 li{position: relative; display: inline-block; width: 31%; margin: 0 1%; text-align: center; vertical-align: top;}
.col-4 li{display: inline-block; width: 22.5%; margin: 0 1%; text-align: left; vertical-align: top;}
.col-last{margin-right: 0; float: right;}

.list-title{display: block; width: 100%; height: 34px; background: url(../img/bg-3.jpg) no-repeat; background-size: 288px 48px; font-family: 'Conv_DINOT-Bold'; font-size: 16px; padding-top: 14px;;}

/*header*/
.header-socket{width: 100%; height: 40px; background: #E21837; text-align: center;}
	.header-socket .header-left{margin-top: 0;}
	.header-socket .header-right .f-left{padding-top: 12px;}
.header{position: fixed; z-index: 99; top: 44px; left: 0; width: 100%; height: 86px; background: #FFF; -ms-transition: all 0.3s ease-out; -moz-transition:    all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
	.header-left{float: left; width: 18%; min-width: 245px; margin-top: 15px; margin-right: 5%;}
		.header-left img{max-width: 100%;}
	.header-right{float: left; width: 76%;}
.logo-sangobion img, .header-left img{max-width: 245px;}
.header.small{height: 60px; top: 0;}
.header.small .header-left{margin-top: 10px;}
.header.small .header-left img{max-height: 40px;}
.header.small .menu{margin-top: 15px;}
.header.small .menu li{padding-bottom: 14px;}
.header.small .header-right{}

.menu{text-align: left; margin-top: 30px;}
.menu li{display: inline-block; margin-right: 20px; font-family: 'Conv_DINOT-Bold'; font-size: 16px;}
.menu li:hover{color: #E21837;}
.menu li.active{color: #E21837;}
.menu a{color: inherit;}

/*container*/
.container{position: relative; width: 92%; margin: auto;}
.home-banner, .home-healthcare, .home-risk, .home-support, .footer, .footer-socket{position: relative; display: block; width: 100%; margin: auto;}

.home-banner{height: 100%; color: #FFF; padding-top: 80px;}
.hslider-title{font-family: 'Conv_DINOT-Bold'; font-size: 48px; line-height: 58px;}
.hslider-desc{font-size: 18px; line-height: 28px;}
.hslider-left, .hslider-right{position: absolute; z-index: 999; top: 50%; margin-top: 60px; width: 62px; height: 62px; display: block;}
.hslider-left{left: 10px; background: url(../img/bg-arrow-1.png) no-repeat top left; background-size: 62px;}
.hslider-right{right: 10px; background: url(../img/bg-arrow-2.png) no-repeat top left; background-size: 62px;}

.home-healthcare{background: #f0f0f2 url(../img/bg-2.jpg) no-repeat top center; background-size: 100% auto; text-align: center;}
	.home-healthcare .container{padding: 120px 0;}
	.home-healthcare .col-3{padding-top: 60px;}
	.home-healthcare .col-3 li{width: 288px; text-align: center; cursor: pointer;}
	.home-healthcare-overlay {position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 80%; opacity: 0; transition: .5s ease; background: url(../img/bg-4.png) no-repeat top center; background-size: 100% auto; color: #fff; padding: 0 10%; padding-top: 10%;}
		.home-healthcare .col-3 li:hover .home-healthcare-overlay {opacity: 1;}
.home-risk{color: #fff;}
/*
.home-risk{background: url(../img/bg-5.jpg) no-repeat bottom center; background-size: 100% auto; color: #fff;}
	.home-risk .container{height: 37vw;}
.home-risk .col-2-1{width: 320px; margin-top: 5vw;}
.home-risk .col-2-2{position: relative; width: 680px; margin-top: 4.8vw;}

	.home-risk .cus{position: absolute; top: 0; left: 0;}
		.home-risk .cus._1{z-index: 2;}
		.home-risk .cus._2-1{z-index: 4; margin-top: 90px; margin-left: 390px;}
		.home-risk .cus._2-2{z-index: 3; width: 140px; height: 43px; margin-top: 60px; margin-left: 400px;}
		.home-risk .cus._2-3{z-index: 4; margin-top: 20px; margin-left: 460px;}
		.home-risk .cus._3-1{z-index: 4; margin-top: 230px; margin-left: 260px;}
		.home-risk .cus._3-2{z-index: 3; width: 188px; height: 98px; margin-top: 190px; margin-left: 85px;}
		.home-risk .cus._3-3{z-index: 4; margin-top: 150px; margin-left: 85px;}
*/
.line-1{width: 140px; height: 43px;}
.line-headache {fill: none; stroke: #2c2e3d; stroke-miterlimit: 10; stroke-width: 2px;}
#line-headache {stroke-dasharray: 1000; stroke-dashoffset: 1000; animation: forwards line-headache 8s linear infinite;}
@keyframes line-headache {from {stroke-dashoffset: 1000;} to {stroke-dashoffset: 0;}}
.line-fatigue {fill: none; stroke: #2c2e3d; stroke-miterlimit: 10; stroke-width: 2px;}
#line-fatigue {stroke-dasharray: 1000; stroke-dashoffset: 1000; animation: forwards line-headache 8s linear infinite;}
@keyframes line-fatigue {from {stroke-dashoffset: 1000;} to {stroke-dashoffset: 0;}}

.home-support .container{padding: 100px 0;}
.owl-head{border-bottom: solid 1px #F5F5F5; height: 55px;}
.owl-filter{padding: 50px 0;}
.owl-filter .red-link{padding-left: 40px;}
.owl-carousel .owl-controls{position: absolute; z-index: 99; top: 50%; margin-top: -40px; width: 100%;}
.owl-nav .owl-prev, .owl-nav .owl-next{display: block; width: 50px; height: 50px; position: absolute; z-index: 99;}
.owl-nav .owl-prev{background: url(../img/icon-arrow-prev.png) no-repeat 0 0; background-size: 50px; left: 0; margin-left: -150px;}
.owl-nav .owl-next{background: url(../img/icon-arrow-next.png) no-repeat 0 0; background-size: 50px; right: 0; margin-right: -150px;}
.filter-menu ul {margin: 0; margin-bottom: 30px; padding: 0; list-style: none; font-family: 'Conv_DINOT-Bold'; font-size: 18px;}
.filter-menu ul li {position: relative; display: inline-block; border-bottom: solid 2px transparent; padding: 10px 0 20px 0; padding-right: 20px; cursor: pointer; margin-right: 20px;}
.filter-item .item{transition: .8s; -webkit-transition: .8s; transform: translateX(0); -webkit-transform: translateX(0); opacity: 1; padding: 8% 10%; border: solid 1px #E8E8E8; width: 288px; height: 100%;}
.filter-item .item.__loading{opacity: 0; transform: translateX(40px); -webkit-transform: translateX(40px);}
.filter-item img{display: inline-block; max-width: 288px; margin: 0 auto; padding-bottom: 10px;}
.filter-item a{color: inherit;}
.filter-btn.btn-active{border-color: #E21837; color: #E21837;}
.filter-btn:hover{color: #E21837;}

.home-support-overlay {position: absolute; z-index: 2; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 80%; opacity: 0; transition: .5s ease; background: url(../img/bg-4.png) no-repeat top center; background-size: 100% auto; color: #fff; padding: 0 10%; text-align: center;}
	.home-support .filter-item li:hover .home-support-overlay {opacity: 1;}
	.home-support .btn-learn-more{position: absolute; z-index: 3; top: 50%; left: 0; right: 0; margin: auto; margin-top: -90px;}
	.home-support .icon-arrow-down{position: absolute; z-index: 3; bottom: 20px; left: 0; right: 0; margin: auto;}
.filter-item li:hover .btn-learn-more{-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; transform: scale(1.1); animation-name: learnMore;}

/*dom buynow*/
#buynow-content{display: none; text-align: center; border-radius: 12px; background:#fff url(../img/bg-9.jpg) no-repeat top left; background-size: auto 100%; padding: 50px 0;}
#buynow-content .col-3 li{margin: 20px 0; text-align: center;}
#buynow-content img{transform: scale(.9); max-width: 90%; display: inline-block;}
#buynow-content img:hover{transform: scale(1);}
.fancybox-close-small{width: 36px; height: 36px; top: 10px; right: 10px; color: transparent;}
.fancybox-close-small{background: url(../img/icon-close-b.png) no-repeat;}
#buynow-content .line{width: 92%; border-bottom: solid 2px #F5F5F5; margin: 30px auto;}

/*dom map*/
#map-content{display: none; text-align: center; border-radius: 12px; background:#fff; padding: 50px 0;}
#map-content .line{width: 92%; border-bottom: solid 2px #F5F5F5; margin: 30px auto;}
.map{position: relative; display: block; margin: auto; text-align: center; width: 70%;}

/*footer*/
.footer{background: #e31738 url(../img/bg-6.jpg) no-repeat top center; background-size: 100% auto; padding-top: 2vw; color: #fff;}
.footer-menu{margin-top: 0px;}
.footer-menu li{display: inline-block; margin-right: 20px; font-size: 14px; color: #fff;}
.footer-menu li:nth-last-child(1){margin-right: 0;}
.footer-menu li:hover{transform: scale(1.1);}
.footer-menu a{color: inherit;}
.footer-socket{background: rgba(0,0,0,.1); height: 50px; color: #fff; margin-top: 3vw; padding-top: 30px;}
.footer-socket .col-2 li{width: auto;}
.footer-socket .col-2-2{text-align: right;}

/*animation*/
@keyframes rubberBand {
  from {opacity: 0; transform: scale3d(1, 1, 1);}
  30% {transform: scale3d(1.25, 0.75, 1);}
  40% {transform: scale3d(0.75, 1.25, 1);}
  50% {transform: scale3d(1.15, 0.85, 1);}
  65% {transform: scale3d(.95, 1.05, 1);}
  75% {transform: scale3d(1.05, .95, 1);}
  to {opacity: 1; transform: scale3d(1, 1, 1);}
}
.rubberBand {animation-name: rubberBand;}

@keyframes learnMore {
  from {opacity: 0; transform: translate3d(0, -100%, 0) scale(.3);}
  to {opacity: 1; transform: scale(1);}
}
.learnMore {animation-name: learnMore;}

@keyframes pulsing {
	from {transform: scale3d(1, 1, 1);}
	50% {transform: scale3d(1.2, 1.2, 1.2);}
	to {transform: scale3d(1, 1, 1);}
}

.spinner-left, .spinner-right{position: absolute; z-index: 1; top: 50%; margin-top: -80px; }
.spinner-left{left: 0; margin-left: -150px;}
.spinner-right{right: 0; margin-right: -150px;}
.spinner {
  opacity: 0; margin: 100px auto; width: 55px; height: 55px; position: relative; text-align: center;  
  -webkit-animation: sk-rotate 2.0s infinite linear; animation: sk-rotate 2.0s infinite linear;
}
.active .spinner, .active .dot1, .active .dot2{opacity: 1;}
.spinner-right .spinner{ -webkit-animation: sk-rotate2 2.0s infinite linear; animation: sk-rotate2 2.0s infinite linear;}

.dot1, .dot2 {
	opacity: 0; width: 44%; height: 44%; display: inline-block; position: absolute; top: 0; background-color: #E8E8E8; border-radius: 100%;  
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out; animation: sk-bounce 2.0s infinite ease-in-out;
}
.dot2 {top: auto; bottom: -30px; -webkit-animation-delay: -1.0s; animation-delay: -1.0s;}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-rotate2 { 100% { -webkit-transform: rotate(-360deg) }}
@keyframes sk-rotate2 { 100% { transform: rotate(-360deg); -webkit-transform: rotate(-360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {transform: scale(0.0); -webkit-transform: scale(0.0);}
	50% {transform: scale(1.0); -webkit-transform: scale(1.0);}
}

