/*mobile320*/
@media only screen and (min-width: 10px) and (max-width: 990px) {
	.m-no{display:none;}
	.m-yes{display:block;}

}

/*mobile568*/
@media only screen and (min-width: 500px) and (max-width: 990px) {
	
}

/*mobile720*/
@media only screen and (min-width: 700px) and (max-width: 990px) {
	
}

/*desktop 1024*/
@media only screen and (min-width: 1000px) and (max-width: 1280px) {
	/*font*/
	.s-48{font-size: 38px; line-height: 48px;}
	
	/*header*/
	.header-left{width: 19%;}
	.header-center{width: 60%; margin-left: 7%;}
	.header-right{width: 14%;}
	
	.header.small .menu li{padding-bottom: 16px;}
	
	.menu li{font-size: 16px; padding-bottom: 34px;}
	
	/*body*/
	.container{width: 96%;}
	.owl-nav .owl-prev{margin-left: -20px;}
	.owl-nav .owl-next{margin-right: -20px;}
	
	.filter-item .item{width: 250px; height: 360px;}
	
	/*footer*/
	.footer{padding-top: .5vw;}
	.footer .space-4{margin-top: 20px;}
	.map{width: 100%;}
}

/*desktop 1200*/
@media only screen and (min-width: 1130px) and (max-width: 1260px) {
	
}

