@font-face {
	font-family: 'Keep_Calm-Medium';
	src: url('fonts/KeepCalm-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo-Regular'; 
	src: url('fonts/Arimo-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo-Italic'; 
	src: url('fonts/Arimo-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo-Bold'; 
	src: url('fonts/Arimo-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arimo-BoldItalic'; 
	src: url('fonts/Arimo-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}