/*  BASE COLOR  */
/*
RED			#E21837
WHITE 		#FFFFFF
BLACK 		#2C2E3D
GREY		#E8E8E8
*/
  
/*  General CSS  */
body {
  font-size: 14px;
  font-family: 'Arimo-Regular';
  overflow-x: hidden;
}
.form-control,
input,
textarea,
select {
  font-size: 14px;
  font-family: 'Arimo-Regular';

}
p:last-child {
  margin-bottom: 0;
}
strong, b {
  font-weight: normal;
  font-family: 'Arimo-Bold';
}
a:hover,
a:focus,
a:active,
.btn:hover,
.btn:focus,
.btn:active {
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  outline: none;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
img {
  max-width: 100%;
}
@media (min-width: 1680px) {
  .container {
    max-width: 1380px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .form-control,
  input,
  textarea,
  select {
    font-size: 12px;
  }
  .btn {
    font-size: 12px;
  }
}

/*  Reuseable CSS  */

/*  Custom CSS  */
.main-wrap {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

/*  Header  */
header {
  font-family: 'Keep_Calm-Medium';
}
.logo-wrapper {
  padding: 4rem 0;
}
.logo-wrapper .image {
  padding-bottom: 2rem;
}
.logo-wrapper .image img {
  height: 35px;
  width: 100%;
  object-fit: contain;
  object-position: left;
}
.header-title {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 2.5rem 0;
  font-family: 'Keep_Calm-Medium';

}

/*  Body  */
.box-wrapper {
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 3rem 3rem 1rem;
  margin-bottom: 4rem;
  border-bottom: 10px solid #00aeef;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 2;
}
.header-logo.without-header-logo {
  display: none;
}
.header-logo,
.header-logo.without-header-logo ~.box-wrapper:before {
  content: '';
  height: 700px;
  max-width: 700px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 1rem;
  transform: translateY(-60%);
  background-image: url(../img/heading_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
@media (max-width:991px) and (min-width:768px) {
  .header-logo,
  .header-logo.without-header-logo ~.box-wrapper:before {
    right: 0;
    height: 300px;
    background-position: right;
  }
}
@media (max-width: 767px) {
  .header-logo,
  .header-logo.without-header-logo ~.box-wrapper:before {
    right: 0;
    height: 200px;
    background-position: right;
  }
  .header-logo {
    right: 1rem;
  }
}
@media (max-width: 576px) {
  .header-logo,
  .header-logo.without-header-logo ~.box-wrapper:before { 
    background-position: center;
  }
  .header-logo.without-header-logo ~.box-wrapper:before {
    display: none;
  }
  .header-logo {
    transform: translateY(-20%);
    right: 0;
    display: block !important;
  }
  .box-wrapper {
    margin-top: 100px;
  }
}
.filter-wrapper {
  padding-bottom: 3rem;
  position: relative;
  z-index: 2;
}
.filter-wrapper li {
  padding: 16px 25px;
  background: #cfd2d3;
  border-radius: 50px;
  font-family: 'Keep_Calm-Medium';
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.filter-wrapper li.active {
  background: #00aeef;
  color: white;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.filter-wrapper li:hover,
.filter-wrapper li:active,
.filter-wrapper li:focus {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.filter-wrapper li:not(:last-child) {
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .box-wrapper {
    padding: 1.5rem 1.5rem 1rem;
  }
  .filter-wrapper li:not(:last-child) {
    margin-right: 5px;
  }
  .filter-wrapper li {
    font-size: 10px;
    padding: 8px 15px;
  }
}

/*  Event List  */
.event-wrapper .event-item {
  text-align: center;
  padding-bottom: 3rem;
}
.event-wrapper .event-item .image {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
}
.event-wrapper .event-item.joined .image:before {
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
  color: white;
  background: #00aeef;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
}
.event-wrapper .event-item .text {
  padding: 1.5rem 2.5rem;
  text-transform: uppercase;
  font-family: 'Keep_Calm-Medium';
}
.event-wrapper .event-item .text .title a {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .event-wrapper .event-item {
    padding-bottom: 1.5rem;
  }
  .event-wrapper .event-item .image {
    max-width: 150px;
  }
  .event-wrapper .event-item.joined .image:before {
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
  }
  .event-wrapper .event-item .text .title a {
    font-size: 0.8rem;
  }
  .event-wrapper .event-item .text {
    font-size: 0.7rem;
  }
}

/*  Detail  */
.detail-wrapper .text .title {
  margin-top: 2rem;
  font-family: 'Keep_Calm-Medium';
  color: #00aeef;
  font-size: 1rem;
  text-transform: uppercase;
}
.detail-wrapper .text .subtitle {
  font-family: 'Keep_Calm-Medium';
  font-size: 0.8rem;
  text-transform: uppercase;
}
.detail-wrapper .text {
  margin-bottom: 3rem;
}
.detail-wrapper .text .desc ul {
  padding-left: 15px;
}
.detail-wrapper .image {
  margin-bottom: 3rem;
}
.detail-wrapper .image img {
  width: 100%;
}
.detail-wrapper .image.with-link {
  position: relative;
}
.detail-wrapper .image.with-link .link-join {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  left: 1rem;
}
.detail-wrapper .image.with-link .link-join a {
  display: block;
  font-size: 1.6rem;
  color: white;
  font-family: 'Keep_Calm-Medium';
  width: 75px;
  height: 75px;
  background: linear-gradient(to right,#00aeef , #c2c2b5);
  border-radius: 100%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  text-transform: uppercase;
  text-align: center;
  padding: 18px 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.detail-wrapper .image.with-link .link-join a:hover,
.detail-wrapper .image.with-link .link-join a:focus,
.detail-wrapper .image.with-link .link-join a:active {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.detail-wrapper .link {
  text-align: right;
}
.eventstatus-wrapper {
  margin-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right,#00aeef , #c2c2b5);
  border-radius: 50px;
  padding: 16px 25px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.15);
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.eventstatus-wrapper > div {
  padding: 0 1.5rem;
  font-family: 'Keep_Calm-Medium';
}
.eventstatus-wrapper > div .value {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}
.eventstatus-wrapper > div .label {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .eventstatus-wrapper > div {
    padding: 0 0.75rem;
  }
  .eventstatus-wrapper > div .value {
    font-size: 1.2rem;
  }
  .eventstatus-wrapper > div .label {
    font-size: 0.6rem;
  }
  .detail-wrapper .text .title {
    font-size: 0.8rem;
  }
  .detail-wrapper .text .subtitle {
    font-size: 0.7rem;
  }
}
.eventinfo-wrapper {
  margin-bottom: 3rem;
  padding-left: 2rem;
}
.eventinfo-wrapper .eventinfo-item {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  text-transform: uppercase
}
.eventinfo-wrapper .eventinfo-item:not(:last-child) {
  border-bottom: 1px solid #adadad;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.eventinfo-wrapper .eventinfo-item .label {
  flex: 0 0 175px;
  -ms-flex: 0 0 175px;
  max-width: 175px;
  font-family: 'Arimo-Bold';
  position: relative;
}
.eventinfo-wrapper .eventinfo-item .label:before {
  content: ":";
  position: absolute;
  right: 1rem;
}
.eventinfo-wrapper .eventinfo-item .value {
  flex: 0 0 calc(100% - 175px);
  -ms-flex: 0 0 calc(100% - 175px);
  max-width: calc(100% - 175px);
  line-height: 1.75;
  font-size: 0.75rem;
}
.eventinfo-wrapper .eventinfo-item .googlemap_link {
  color: #00aeef;
  font-family: 'Arimo-Bold';
}
@media (max-width: 991px) {
  .eventinfo-wrapper {
    padding-left: 0;
  }
}
.action-wrapper {
  margin-bottom: 3rem;
}
.pdf-wrapper {
  margin-bottom: 3rem;
}
.pdf-wrapper a {
  display: block;
  padding: 0.8rem;
  padding-left: 1.6rem;
  border: 1px solid #adadad;
  font-size: 0.9rem;
  color: #00aeef;
  border-radius: 50px;
  font-family: 'Arimo-Bold';
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pdf-wrapper a:hover,
.pdf-wrapper a:focus,
.pdf-wrapper a:active {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.pdf-wrapper a:after {
  content: '';
  height: 70px;
  width: 70px;
  background-image: url(../img/pdf.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
}
@media (max-width: 991px) {
  .pdf-wrapper a {
    font-size: 0.7rem;
  }
}
.share-wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.share-wrapper > span {
  display: inline-block;
  margin-right: 1.5rem;
  font-family: 'Arimo-Bold';
}
.share-wrapper ul {
  margin-bottom: 0;
}
.share-wrapper ul li:not(:last-child) {
  margin-right: 0.25rem;
}
.share-wrapper ul li a {
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 6.5px 0;
  background: #adadad;
  border-radius: 100%;
  color: white;
  text-align: center;
}
.share-wrapper ul li a:hover,
.share-wrapper ul li a:focus,
.share-wrapper ul li a:active {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  background: #00aeef;
}
.at-style-responsive .at-share-btn {
  width: 2rem;
  height: 2rem;
  background: #adadad !important;
  border-radius: 100% !important;
  padding: 8px !important;
}
.at-resp-share-element .at-share-btn .at-icon-wrapper {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}
.at-resp-share-element .at-icon, .at-resp-share-element .at-label {
  width: 16px !important;
  height: 16px !important;
  
}
.btn-join {
  background: linear-gradient(to top right,#00aeef , #c2c2b5);
  font-family: 'Keep_Calm-Medium';
  font-size: 1.2rem;
  color: white;
  border: none;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
  border-radius: 50px;
  padding: 1.5rem 3.5rem;
  text-transform: uppercase;
}
.btn-join:hover,
.btn-join:focus,
.btn-join:active {
  color: white;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
@media (max-width: 767px) {
  .detail-wrapper .link {
    text-align: center;
  }
  .btn-join {
    font-size: 0.8rem;
  }
}

/*  Joined  */
.eventselected-wrapper {
  display: flex;
  display: -ms-flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-top: -75px;
  padding-bottom: 6rem;
}
.eventselected-wrapper:before {
  content: '';
  position: absolute;
  width: 1px;
  border-right: 5px dotted #e3e3e3;
  height: 100%;
  left: 87.5px;
  top: 0;
  transform: translateX(-50%);
}
.eventselected-wrapper .image {
  flex: 0 0 175px;
  -ms-flex: 0 0 175px;
  max-width: 175px;
  position: relative;
  z-index: 2;
}
.eventselected-wrapper .image img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 100%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.eventselected-wrapper .text {
  flex: 0 0 calc(100% - 175px);
  -ms-flex: 0 0 calc(100% - 175px);
  max-width:calc(100% - 175px);
  padding-left: 2rem;
}
.eventselected-wrapper .text .title {
  font-family: 'Keep_Calm-Medium';
  color: #00aeef;
  font-size: 1rem;
  text-transform: uppercase;
}
.eventselected-wrapper .text .title span {
  display: block;
  color: black;
}
@media (max-width: 991px) {
  .eventselected-wrapper {
    margin-top: 0;
    padding-bottom: 3rem;
  }
  .eventselected-wrapper .text .title {
    font-size: 0.7rem;
  }
  .eventselected-wrapper .image {
    flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    max-width: 100px;
  }
  .eventselected-wrapper .image img {
    height: 100px;
  }
  .eventselected-wrapper .text {
    flex: 0 0 calc(100% - 100px);
    -ms-flex: 0 0 calc(100% - 100px);
    max-width: calc(100% - 100px);
  }
  .eventselected-wrapper:before {
    display: none;
  }
}
.joined-wrapper {
  margin-bottom: 3rem;
}
.joined-wrapper .heading-wrapper {
  font-family: 'Keep_Calm-Medium';
  margin-bottom: 2rem;
}
.joined-wrapper .heading-wrapper .heading {
  text-transform: uppercase;
  font-size: 1.4rem;
}
.joined-wrapper .text .desc {
  line-height: 1.75;
  margin-bottom: 1rem;
}
.joined-wrapper .qrcode {
  position: relative;
  max-width: 300px;
  text-align: center;
}
.joined-wrapper .qrcode > img {
  width: 100%;
}
.joined-wrapper .qrcode .overlay-top {
  position: absolute;
  top: 45px;
  left: 45px;
  right: 40px;
}
.joined-wrapper .qrcode .overlay-bottom {
  position: absolute;
  bottom: 45px;
  left: 45px;
  right: 40px;
}
.joined-wrapper .qrcode .overlay-bottom .text {
  color: white;
  font-family:  'Keep_Calm-Medium';
}
.joined-wrapper .qrcode .overlay-bottom .text .label {
  font-size: 0.65rem;
}
.joined-wrapper .qrcode .overlay-bottom .text .value {
  font-size: 1.8rem;
}
@Media (max-width: 991px) {
  .joined-wrapper .qrcode {
    /* max-width: 200px; */
    margin: 0 auto;
  }
  /* .joined-wrapper .qrcode .overlay-top {
    top: 30px;
    left: 30px;
    right: 27px;
  }
  .joined-wrapper .qrcode .overlay-bottom {
    left: 30px;
    right: 27px;
    bottom: 30px;
  }
  .joined-wrapper .qrcode .overlay-bottom .text .label {
    font-size: 0.6rem;
  }
  .joined-wrapper .qrcode .overlay-bottom .text .value {
    font-size: 1.2rem;
  } */

}
.steps-wrapper {
  counter-reset: my-sec-counter;
}
.steps-wrapper .step-item {
  padding-left: 207px;
  position: relative;
}
.steps-wrapper .step-item:after {
  counter-increment: my-sec-counter;
  content: counter(my-sec-counter);
  position: absolute;
  left: 87.5px;
  transform: translateX(-50%);
  top: 0;
  height: 50px;
  width: 50px;
  background-color: #00aeef;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  border-radius: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 11px 0;
  color: white;
  font-family: 'Keep_Calm-Medium';
}
.steps-wrapper .step-item:last-child {
  margin-bottom: 3rem;
}
.steps-wrapper .step-item:not(:last-child) {
  padding-bottom: 2rem;
}
.steps-wrapper .step-item:not(:last-child):before {
  content: '';
  position: absolute;
  width: 1px;
  border-right: 5px dotted #e3e3e3;
  height: 100%;
  left: 87.5px;
  top: 0;
  transform: translateX(-50%);
}
.steps-wrapper.done .step-item:after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
}
@media (max-width: 991px) {
  .steps-wrapper .step-item {
    padding-left: 0;
  }
  .steps-wrapper .step-item:after {
    display: none;
  }
  .steps-wrapper .step-item:not(:last-child):before {
    display: none;
  }
}

/*  Event Form  */
#question-container {
  display: none;
}
.eventform-wrapper label {
  font-size: 1.2rem;
}
.eventform-wrapper input[type="button"].active {
  background: #00aeef !important;
  color: black !important;
}
.eventform-wrapper .forminput-item {
  margin-bottom: 1.5rem;
}
.eventform-wrapper .forminput-item .form-control {
  height: auto;
  padding: 14px 35px;
  background: #c2c2b5;
  border: none;
  color: black;
  border-radius: 50px !important;
}
.eventform-wrapper .register-link {
  text-align: left;
}
.btn-grey {
  background: #c2c2b5;
  font-family: 'Keep_Calm-Medium';
  font-size: 0.7rem;
  border: none;
  border-radius: 50px;
  padding: 14px 35px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
@media (max-width: 991px) {
  .eventform-wrapper label {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  .eventform-wrapper .register-link {
  }
}

/*  Select2  */
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  height: auto;
  padding: 14px 35px;
  background: #c2c2b5;
  border: none;
  color: black;
  border-radius: 50px !important;
  line-height: auto;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5;
  color: black;

}
.select2-container--open .select2-dropdown--above, .select2-container--open .select2-dropdown--below {
  border: 1px solid #c2c2b5 !important;
  border-radius: 4px !important;
}